# ============================================
# 1.change /home/YOUR_USERNAME to your username
# 2.run chmod +x Sytem_Monitoring.py
# ============================================

# run every 10 sec
* * * * * /usr/bin/python3 /home/YOUR_USERNAME/linux_monitor/System_Monitoring.py
* * * * * sleep 10 && /usr/bin/python3 /home/YOUR_USERNAME/linux_monitor/System_Monitoring.py
* * * * * sleep 20 && /usr/bin/python3 /home/YOUR_USERNAME/linux_monitor/System_Monitoring.py
* * * * * sleep 30 && /usr/bin/python3 /home/YOUR_USERNAME/linux_monitor/System_Monitoring.py
* * * * * sleep 40 && /usr/bin/python3 /home/YOUR_USERNAME/linux_monitor/System_Monitoring.py
* * * * * sleep 50 && /usr/bin/python3 /home/YOUR_USERNAME/linux_monitor/System_Monitoring.py
